# data
example_data/
example_data2/
deprecations/
data
data/
data_zip/
region_annos/
selected_scenes/

# OpenAI API key
openai_api_key.txt

# Python cache files
**.pyc

# pickle files
**.pkl

# image files
**.png
**.jpg
**.jpeg

# stats files
*counts.csv
accuracy_dict*.csv
data.zip
scene_mappings/*

# temporary files
**testing**
shortcut**