# data
example_data/
example_data2/
deprecations/
data
data/
data_zip/
region_annos/
selected_scenes/
corpora_to_move/
corpora_to_move
object_functions_in_region/
*.zip

# API keys
api_keys/*.txt

# Python cache files
**.pyc

# pickle files
**.pkl

# image files
**.png
**.jpg
**.jpeg

# stats files
*counts.csv
accuracy_dict*.csv

# log files
*.log

# temporary files
**testing**
shortcut**
tmp/**